<p>statistical-data works!</p>
<h3> admin</h3>

<table class="table">
    <thead>
        <tr>
          <th>
            Questions
          </th>
        <th>
          Very Good
        </th>
        <th>
          Satisfied
        </th>
        <th>
         Dissatisfied
        </th>
        </tr>
    </thead>
    <tbody>
       <tr>
           
           <td>Amount Of Courses </td>
           <td>{{ options.option1 | number:'2.1-2' }}% </td>
           <td> {{ options.option2 | number:'2.1-2' }}%</td>
           <td> {{ options.option3 | number:'2.1-2'}}%</td>
          
       </tr>
       <tr>
        <td>Content Quality</td>
        <td>{{ options1.option1 | number:'2.1-2' }}%</td>
        <td> {{ options1.option2 | number:'2.1-2' }}%</td>
        <td> {{ options1.option3 | number:'2.1-2' }}%</td>
       
    </tr>
    <tr>
     
      <td>Online Interaction</td>
      <td>{{ options2.option1 | number:'2.1-2'}}%</td>
      <td> {{ options2.option2 | number:'2.1-2' }}%</td>
      <td> {{ options2.option3 | number:'2.1-2' }}%</td>
      
  </tr>
  <tr>
    
    <td>Platform Responsiveness</td>
    <td>{{ options3.option1 | number:'2.1-2'}}%</td>
    <td> {{ options3.option2 | number:'2.1-2' }}%</td>
    <td> {{ options3.option3 | number:'2.1-2' }}%</td>
  
</tr>
<tr>
  
  <td>Video Quality</td>
  <td>{{ options4.option1 | number:'2.1-2' }}%</td>
  <td> {{ options4.option2 | number:'2.1-2' }}%</td>
  <td> {{ options4.option3 | number:'2.1-2' }}%</td>

</tr>
<tr>
  
  <td>Interaction</td>
  <td>{{ options5.option1 | number:'2.1-2'}}%</td>
  <td> {{ options5.option2 | number:'2.1-2' }}%</td>
  <td> {{ options5.option3 | number:'2.1-2' }}%</td>

</tr>

    </tbody>

</table>
